<div class="wrapper">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button class="drawer-toggle" (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="branding-image" src="../assets/logo.png" routerLink="/" />
    <span style="color: white; font-size: 28px; margin-left: 5px;">MWSolutions</span>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container" autosize [ngClass]="{ 'container-closed': !isExpanded }">
    <mat-drawer #drawer class="drawer" mode="side" disableClose="true" opened="true">
      <mat-nav-list>
        <mat-list-item class="menu-item" routerLink="/">
          <mat-icon matListItemIcon>home</mat-icon>
          <span>Home</span>
        </mat-list-item>
        <mat-list-item class="menu-item" routerLink="/services">
          <mat-icon matListItemIcon>handshake</mat-icon>
          <span>Leistungen</span>
        </mat-list-item>
        <mat-list-item class="menu-item" routerLink="/contact">
          <mat-icon matListItemIcon>contact_page</mat-icon>
          <span>Kontakt</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

  <footer>
    <article>
      <nav id="footer-nav">
        <div id="link-wrapper">
          <a href="imprint">Impressum</a>
          <span class="footer-separator"> | </span>
          <a href="data-protection">Datenschutz</a>
        </div>
      </nav>
    </article>
  </footer>
</div>